page-add-admin {
    .card {
        margin: auto;
        position : relative;
        top: 30%;
        text-align: center;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        border-radius: 10px;
       }
       ion-label{
         font-weight: bold !important ;
       }

       ion-item{
         border-bottom: 1px solid map-get($colors,primary) !important ;
        }
        ion-input{
          padding-left: 5%;
          font-size: 24px;
          font-weight: 200;
        }
}
