page-login {
  .content{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }
    .mainCol{
      height: 100vh;
      margin: 0;
    }
    .card {
        margin: auto;
        position : relative;
        top: 30%;
        text-align: center;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        border-radius: 10px;
        -webkit-animation: flipinx 1s ease-out 0s 1 normal both;
        animation: flipinx 1s ease-out 0s 1 normal both;
       }
       ion-label{
         font-weight: bold !important ;
       }

       ion-item{
         border-bottom: 1px solid map-get($colors,primary) !important ;
        }
        ion-input{
          padding-left: 5%;
          font-size: 24px;
          font-weight: 200;
        }
        
}
