<ion-split-pane>
  <ion-menu [content]="content">
    <!-- <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header> -->
    <ion-content class="menuContent">
      <ion-item text-center margin-vertical no-lines color="light"  >
        <img src="assets/imgs/logo.png" class="menuLogo" />
      </ion-item>

      <ion-list no-lines *ngIf="full">
        <button ion-item menuClose [class.activeHighlight]="checkActive(p)" [class.menuItems]="!checkActive(p)" *ngFor="let p of pages"
          (click)="openPage(p)">
          <ion-icon item-left [name]="p.icon"></ion-icon>
          {{p.title}}
        </button>
      </ion-list>



    </ion-content>
    <ion-footer text-center no-lines >
      <button ion-button clear color="dark" (click)="signOutConfirm()">Sign Out</button>
    </ion-footer>
  </ion-menu>

  <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
  <ion-nav [root]="rootPage" #content main swipeBackEnabled="false"></ion-nav>
</ion-split-pane>